body{ background-color: rgb(144, 247, 233)};
#barbaimg {
    text-align: center;
    width:20px;
    display: inline;
}

.titolobar {
    text-align:center;
    font-size: 85px;
    font-style: oblique;
    padding-left:250px;
    
}

#button1 {

    background-color:rgb(245, 143, 194);
    border: double;
    color: white;
    padding: 15px 32px 20px 20px;
    float: right;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    display: inline;
    position: absolute; visibility: visible; right: 400px; top: 300px; z-index: 200;
    border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        box-shadow: 2px 4px #888888;
        outline: 0;
                

}

#button2 {

    background-color:rgb(245, 143, 194);
  border: double;
  color: white;
  padding: 15px 32px 20px 20px;
  float:right;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  display: inline;
  position: absolute; visibility: visible; right: 400px; top: 450px; z-index: 200;
  border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        box-shadow: 2px 4px #888888;
        outline: 0;
        
 
  
}

#insegna {

    text-align:center;
    font-size: 30px;
    font-style: oblique;
    padding-left:10px;
    position: absolute; visibility: visible; right: 320px; top: 150px; z-index: 200;
}

#barbaimg2 {
    
    position: absolute; visibility: visible; right: 350px; top: 600px; z-index: 200;
    
}