.main-div {
    width: 50%;
    float:left;
}

#barbaimg {
    width: 100%;
}

#barbalogo {
    padding: 100px 0px 0px 0px;
    width: 100%;
}

button {
    display: block;
    margin:10px 0px;
    background-color:rgb(245, 143, 194);
    border: double;
    color: white;
    padding: 15px 32px 20px 20px;
    text-decoration: none;
    font-size: 50px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-shadow: 2px 4px #888888;
    outline: 0;
}

body{
    background-color: rgb(155, 247, 247);
}
h1{
    font-style: oblique;
    font-size: 50px; 
}

p{
    font-style: initial;
    font-size: 30px; 
}
